page-signup {
  
    .scroll-content {
        display: flex;
        flex-direction: column;
        //border-radius: 0px!important;
        overflow: auto;

    }
    ::-webkit-scrollbar
    {
    width: 3px!important;
    background-color:#009f75 !important;
    }
    ion-grid {
        padding: 0;
        height: 100%;
    }
 
    ion-row {
        flex: 1;
    }
 
  ion-title {
     // border:1px solid white;
        position: absolute;
        top: 0;
      left: 1;
      padding-right:120px;
     //padding: 50 90px 1px;
        width: 100%;
        height: 100%;
        
        text-align: center;
      }
 ion-content{
     
    background-image: url('../assets/imgs/sign14.png');
     background-size: 100% 100%;
    

 }
 .signup{
    width:60%;
      position: absolute;
      //right:100px;
     right: 75px;
      //margin: auto;
      top:16vh;
 }
 .label{
    background-color:rgba(255,255,255,0.0);
    color:#009f75;
    font-weight: bold;
    
} 

}

.alert-md .alert-title {
    font-size: 32px;
    font-weight: bold;
    color:#009f75;
  }
  
  .alert-md .alert-sub-title {
    font-size: 20px;
  }

  .yourCssClassName {
    text-align:center;
    font-size:20px;
   }
  